.navbar {
  border-bottom: 0px;
}

.jumbotron {
/*  background-image: url(/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-right: 100px;*/

  width: 100%;
  background-color: #033769;
  color: white;
  margin-top: -20px;
  border-radius: 0px !important;

}

h1 {
  counter-reset: section;
}

.policy h2:before {
  font-style: italic;
  content: counter(section) ". ";
}

.policy h2 {
  counter-increment: section;
  counter-reset: paragraph;
}

.policy > p {
  counter-increment: paragraph;
}

.policy > p:before {
  font-style: italic;
  content: counter(section) "." counter(paragraph) ". ";
}

.policy > p:first-of-type, #homepage > p:first-of-type {
  font-size: 125%;
}

.policy > p:first-of-type:before {
  content: "";
}

div.footnotes {
  /* Style copied from div.well */
  background-color: #F5F5F5;
  border-color: 1px solid #E3E3E3;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px inset;
  padding: 19px;
  -moz-box-sizing: border-box;
}

ul.nav ul.nav {
  margin-left: 10px;
  font-size: 90%;
}

ul.nav ul.nav li a {
  padding-top: 2px;
  padding-bottom: 2px;
}
